body {
    height: 3175px;
}
.body.lock {
    overflow: hidden;
}


/*---------Настройка шапки---------*/
.head {
    margin: 0px auto;
    width: 980px;
    height: 311px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.head-left {
    width: 187px;
    height: 187px;
}
.head-button {
    height: 42px;
    width: 725px;
    display: flex;
    justify-content: space-between;
}
.head-button__text {
    text-decoration: none;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.head-button__text:hover {
    color:rgba(110, 107, 101, 0.7)
}
.head-search {
    margin: 25px 0 0 0;
    width: 725px;
    height: 112px;
    left: 351px;
    top: 116px;

    color: #776B6B;
    font-size: 36px;
    line-height: 42px;

    background-color: #C4C4C4;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img {
    padding: 20px;
    width: 76px;
    height: 72px;
}
.line {
    width: 980px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.text__title {
    margin: 0px auto;
    max-width: 980px;

    font-size: 36px;
    line-height: 42px;
}



/*---------slider---------*/
.slider {
    margin: 0px auto;
    width: 980px;
    height: 550px;
}
/*настройка слайдера*/
/*классы в браузере*/

.slick-list {
    /*виден только один flex element*/
    overflow: hidden;
}

.slick-track {
    /*все элементы выстраиваются в линию*/
    display: flex;
}


/*---------конкретный слайдер---------*/
.slider {
    position: relative;
    height: 500px;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/keyboard-left-arrow-button_icon-icons.com_72692.svg') 0 0 / 100% no-repeat;  
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/keyboard-right-arrow-button-1_icon-icons.com_72690.svg') 0 0 / 100% no-repeat;
}
.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none; 
    margin: 0px 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
    background-color: #000;
}


/*---------Настройка контента слайдера---------*/
.anime {
    display: flex;
    justify-content: space-around;
}
.block {
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.anime__img {
    width: 339px;
    height: 448px;
}

.anime__desctiption {
    width: 525px;
}
.desctiption-estimation {
    font-size: 48px;
    line-height: 56px;
}
.desctiption-name {
    font-size: 36px;
    line-height: 42px;

    height: 50px;
    width: 525px;
    padding: 0px 0px 37px 0px;
}
.data {
    font-size: 24px;
    line-height: 28px;
    padding: 15px 0px 0px 0px;
}




/*---------Popup---------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    /*Для скролла модального окна*/
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
.popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px 10px;
}
.popup__content {
    
    width: 883px; 
    height: 636px;

    background-color: #ffff;
    border-radius: 10px; 

    font-family:sans-serif;
    letter-spacing: 1px;

    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup__content-1 {
    height: 1500px;
}
/*Форма для ввода данных*/
.form-content-da {
    border: 1px solid #000;
    width: 100px;
}
.form { 
    border: 1px solid #0000;
    padding: 70px;

    margin: 0px auto;
}
.form-head {
    width: 521px;
    height: 82px;
    margin: 0px 110px 66px 100px;

    display: flex;
    justify-content: space-between;
}
.form__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
}
.form-head-close {
    width: 100px;
    height: 101px;
}
.form-head-close__image {
    width: 80px;
    height: 81px;
}


.form__input {
    color: black;
}
.form__group {
    margin: 0px 110px 66px 100px;

    width: 493px;
    height: 57px;
    position: relative;
    margin-bottom: 32px;
}



/*CHECKBOX*/
.block-form__input {
    margin: 40px 110px 40px 100px;
}
.checkbox {
    font-size: 19px;

    position: relative;
    cursor: pointer;

    padding: 0px 0px 0px 70px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transitionL: all 0.3s ease 0s;
}
.checkbox:active {
    color: #0000;
}
.checkbox.active:before {
    background-color: rgb(218, 23, 16)
}
.checkbox.active:after {
    background-color: rgb(224, 13, 13);
    left: 25px;
}
.checkbox:before {
    content: '';
    width: 50px;
    height: 20px;

    border-radius: 20px;
    background-color: #776B6B;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.checkbox:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
    background-color:rgba(110, 107, 101, 0.7);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.checkbox input{
    display: none;
}



.form__button, .form__label {
    font-family:sans-serif;
    letter-spacing: 1px;

}

.form__label {
    position: absolute;
    top: -10px;
    z-index: -1;
    color: #9e9e9e;
    transition: 0.3s;

    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 56px;

}
.form__input {
    height: 20px;
    width: 105%;
    padding: 0 0 10px 0;
    border: none;

    border-bottom: 4px solid #776B6B;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.form__input:focus {
    border-bottom: 4px solid #eb0a0a;
}
.form__button {
    width: 515px;
    height: 123px;
    margin: 0px 110px 0px 100px;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;

    background-color: #808080;

    display: flex;
    justify-content: space-around;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.button-1 {
    margin: 0px 110px 66px 172px;
}
.form__button:focus, .form__button:hover {
    background-color: rgba(138, 133, 124, 0.7)
}
.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
    top: -40px;
    font-size: 33px;
    color: #e0e0e0;
}
